.send{padding: 2% 7%;
border-radius: 36px;
background-color: #5b5f97;
color: #fff;}
// .contact{
//     font-weight: 600;
// }
.contact h1{
    font-size: 30px;
    font-weight: 500;
}
.LabelName{
    font-weight: 500;
}