<div class="container mt-5 ">
    <div class="row ">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="card  imgcard p-2">
                <div class="d-flex justify-content-between">
                    <h6>Shows</h6>
                    <p>View All</p>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!--------------------------------->
                            <div class="card cardslid">
                                <img src="../../../assets/images/event3.jpg" class="card-img-top d-block w-100"
                                    alt="First slide">
                                <div class="card-body body-card">
                                    <h5 class="card-title title-card">Music Events </h5>
                                    <h6> Space Tech Music Fest - Pyramid Kasol</h6>
                                    <p class="card-text">20 May | 11:00 AM</p>
                                    <a href="#" class="btn Booknow">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardslid">
                                <img src="../../../assets/images/event2.jpg" class="card-img-top d-block w-100"
                                    alt="Second slide">
                                <div class="card-body body-card ">
                                    <h5 class="card-title  title-card">Entertainment
                                    </h5>
                                    <h6> Mandragora live @ Soho-Delhi</h6>
                                    <p class="card-text"> 19 May | 10:00 PM</p>
                                    <a href="#" class="btn Booknow">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardslid">
                                <img src="../../../assets/images/event1.jpg" class="card-img-top d-block w-100"
                                    alt="Third slide">
                                <div class="card-body body-card">
                                    <h5 class="card-title title-card">Festival</h5>
                                    <h5>Festival Pass</h5>
                                    <p class="card-text text-muted">20 May | 11:00 AM</p>
                                    <a href="#" class="btn Booknow">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


            <!-----------------------------------Card 1------------------------------------>
            <div class="card  p-2 imgcard pt-2 mt-3">
                <h5>Shows</h5>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!--------------------------------->
                            <div class="card cardslid">
                                <img src="../../../assets/images/event5.jpg" class="card-img-top d-block w-100"
                                    alt="First slide">
                                <div class="card-body body-card">
                                    <h5 class="card-title title-card">Music Events </h5>
                                    <h6> Space Tech Music Fest - Pyramid Kasol</h6>
                                    <p class="card-text">20 May | 11:00 AM</p>
                                    <a href="#" class="btn Booknow">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardslid">
                                <img src="../../../assets/images/event2.jpg" class="card-img-top d-block w-100"
                                    alt="Second slide">
                                <div class="card-body body-card ">
                                    <h5 class="card-title  title-card">Entertainment
                                    </h5>
                                    <h6> Mandragora live @ Soho-Delhi</h6>
                                    <p class="card-text"> 19 May | 10:00 PM</p>
                                    <a href="#" class="btn Booknow">Book Now</a>

                                    <div class="likes d-flex justify-content-start mt-2">
                                        <p><i class='fa fa-heart'></i></p>
                                        <div class="mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                            </svg>
                                        </div>
                                        <div class="mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                            </svg>
                                        </div>
                                        <div class="mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                                class="bi bi-play-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                                            </svg>
                                        </div>
                    
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card cardslid">
                                <img src="../../../assets/images/event1.jpg" class="card-img-top d-block w-100"
                                    alt="Third slide">
                                <div class="card-body body-card">
                                    <h5 class="card-title title-card">Festival</h5>
                                    <h5>Festival Pass</h5>
                                    <p class="card-text text-muted">20 May | 11:00 AM</p>
                                    <a href="#" class="btn Booknow">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-------------------------Skillbox----------------------->

            <div class="card mt-3 imgcard mb-3">
       
                <div class="card-body">
                  <h5 class="card-title">Skillbox ON-THE-GO</h5>
                  <p class="India-text">To help India fight against Covid-19, we have completly waived off our platform fee for all the fundraiser events.</p>

                  <button type="button" class="btn Booknow  mt-3"> Create Fundraiser </button>
                </div>
                <div class="d-flex justify-content-around p-2">
                    <img src="https://1840729241.rsc.cdn77.org/assets/images/playstore-icon.png"class="appstore_icon" >
                    <img src="https://1840729241.rsc.cdn77.org/assets/images/appstore_icon.png" class="appstore_icon">
                </div>
               
              </div>
        </div>
        <!----------------------------Brown Melody Comment--------------------------->
        <div class="col-md-6 col-sm-6 col-12">
            <div id="login-container">
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight profile-img"> </div>
                    <div class="p-2 bd-highlight">
                        <h5>
                            Brown Melody 🎻

                        </h5>
                        <p>1 hour ago</p>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                    </div>
                </div>

                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight profile-images"> </div>
                    <div class="p-2 bd-highlight">
                        <p>
                            TOTTHO | SKUID | BROWN MELODY | NEW BANGLA RAP SONG | 2022 |
                        </p>
                        <p>02:40 Min.</p>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                            class="bi bi-play-fill" viewBox="0 0 16 16">
                            <path
                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                        </svg>
                    </div>
                </div>
                <div class="description">
                    <h6>TOTTHO | SKUID | BROWN MELODY | NEW BANGLA RAP SONG | 2022|</h6>
                    <p>Tottho my latest release . Listen to it . Like share follow Brown Melody for more Bangla Rap
                        song. Follow Brown Melody on Skillbox Follow Skuid on Instagram</p>
                    <button type="button" class="btn Hipbuttn mr-2">Hip Hop/Rap</button>
                    <button type="button" class="btn Hipbuttn ">Bengali</button>
                </div>
                <div class="likes d-flex justify-content-start mb-2">
                    <p><i class='fa fa-heart'></i></p>
                    <div class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                    </div>
                    <div class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                    </div>
                    <div class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                            class="bi bi-play-fill" viewBox="0 0 16 16">
                            <path
                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                        </svg>
                    </div>

                </div>
                <div class="mb-2" style="border-bottom:1px solid rgb(193, 188, 188)  ;"></div>

                <div class="comment d-flex justify-content-between">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-person-fill mr-2 mt-2" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <input type="text" placeholder="What's New ?" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
                    </svg>
                </div>
            </div>
        </div>
        <!---------------------------Card -3-----Featured Artist------------------------------------->
        <div class="col-md-3 col-sm-6 col-12">

            <!------------------------------------------------------------->
            <div class="card imgcard p-3">
                <div class="d-flex justify-content-between ">
                    <h5>Featured Artist</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-info" viewBox="0 0 16 16">
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                </div>
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img src="../../../assets/images/chat1.png" class="Chatimg ">
                    </div>
                    <div class="p-2 mt-2 bd-highlight BLOT">
                        <h5>
                            BLOT!

                        </h5>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                    </div>
                </div>
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img src="../../../assets/images/chat2.png" class="Chatimg ">
                    </div>
                    <div class="p-2 mt-2 bd-highlight BLOT">
                        <h5>
                            Kutcheri

                        </h5>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                    </div>
                </div>
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img src="../../../assets/images/chat6.jpg" class="Chatimg ">
                    </div>
                    <div class="p-2 mt-2 bd-highlight BLOT">
                        <h5>
                            Anuv Jain

                        </h5>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                    </div>
                </div>
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img src="../../../assets/images/chat3.jpg" class="Chatimg ">
                    </div>
                    <div class="p-2 mt-2 bd-highlight BLOT">
                        <h5>
                            Parvaaz

                        </h5>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                    </div>
                </div>
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img src="../../../assets/images/chat5.jpg" class="Chatimg ">
                    </div>
                    <div class="p-2 mt-2 bd-highlight BLOT">
                        <h5>
                            Motherjane
                        </h5>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                    </div>
                </div>
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img src="../../../assets/images/chat4.jpg" class="Chatimg ">
                    </div>
                    <div class="p-2 mt-2 bd-highlight BLOT">
                        <h5> Rawal x Bharg</h5>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                    </div>

                </div>


            </div>
<!----------------------------END------------------------>
            <!---------------------Contribution------Start----------------->
            <div class="card imgcard p-2 mt-4">
                <div>
                    <h5 class="pb-2">Contribution Campaigns</h5>
                    <h6 class="pb-1" style="    font-size: 13px;">Contribution Campaign | Midnight Frig</h6>
                    <span class="pb-3" style="    font-size: 11px;
color: gray;">Created By | NeoRes</span>
                    <div class="progress bar-progess">
                        <div class="progress-bar  bg-success" role="progressbar" style="width: 70%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button type="button" class="btn Booknow  mt-3">Pledge For Music</button>

                </div>


                <!----------------------------------------------------->

                <div class="mt-3">
                    <h5 class="pb-2">Contribution Campaigns</h5>
                    <h6 class="pb-1" style="    font-size: 13px;">Contribution Campaign | Midnight Frig</h6>
                    <span class="pb-3" style="    font-size: 11px;
color: gray;">Created By | NeoRes</span>
                    <div class="progress bar-progess">
                        <div class="progress-bar  bg-success" role="progressbar" style="width: 70%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button type="button" class="btn Booknow  mt-3">Pledge For Music</button>

                </div>
            </div>
      


        <!----------------------------End-------------------------------->


        <!---------------------------Start ---0% Platform Fee----------------------->

        <div class="card mt-3 imgcard" >
            <div class="card-body">
              <h5 class="card-title">0% Platform Fee</h5>
              <p class="India-text">To help India fight against Covid-19, we have completly waived off our platform fee for all the fundraiser events.</p>
              <!-- <button type="button"  class="btn Hipbuttn "> Create Fundraiser </button> -->
              <button type="button" class="btn Booknow  mt-3"> Create Fundraiser </button>
            </div>
            <img class="card-img-top" src="../../../assets/images/specialOffer.png" alt="Card image cap">
          </div>
        </div>
        <!----------------------------------------------------------->