

<section class="BACK">
  <div class="container ">
      <div class="row">

          <div class="col-md-6 mt-5 ">

              <div class="message">
                  <h1>
                    Wedding Packages</h1>
                  <p>Wedding bells ringing soon? Book an amazing wedding package to give yourself or your loved one's the best wedding gift. The performances by these artists will make your wedding day as the best day of your life. From amazing dancers to brilliant bands, book these amazing packages from SkillBox today!</p>
              </div>
          </div>
          
      </div>
  </div>

</section>

<div class="droupdownSlider">
  <div class="back">

  </div>

</div>


<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">

          <div class="d-flex justify-content-around">
            <h5>Filter Options</h5>
            <p>clear</p>
          </div>
            <div class="card">
              
            
                <!-- Dropdown -->
                <label class="drop">
                  <input type="checkbox" id="target-drop-example"> <!-- Toggle Drop -->
                  <span class="Dropdown1">Dropdown</span> <!-- Fake button -->
            
                  <!-- Items -->
                  <ul class="drop-items">
                    <li class="item-drop">
                      <a target="_blank"
                        >Price: High - Low</a></li>
                    <li class="item-drop">
                      <a target="_blank"
                        >Price: Low - High</a></li>
                    <li class="item-drop">
                      <a target="_blank"
                       >Number of reviews</a></li>
                  </ul>
            
                  <!-- Alternative to close dropdown with click out -->
                  <label for="target-drop-example" class="overlay-close"></label>
            
                </label>   
                <!-- END -- Dropdown -->
            
              
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/event.jpg" alt="Card image cap">
                <div class="justify-content-end">
                  <button type="button" class="btn Booknow btn-sm ">4 member</button>
                </div>
                
                <div class="card-body">
                  <h5 class="card-title">Musician/Band</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

    </div>

</div>
