
<!--  FOOTER START -->
  
<div class="footer">
    <div class="inner-footer">
        <div class="SocioFooter pb-3">
        <p class="">Socio is an art community platform for musicians and artists, music and art enthusiasts, professionals and fans from the music and arts ecosystem. The art social network helps fans search events and book artists. Book artists for private events in Mumbai | Book artists for private events in Delhi | Book artists for private events in Chennai | Book artists for private events in Bengaluru | Book artists for private events in Hyderabad | Book artists for private events in Pune | Book artists for private events in Ahmedabad | Book artists for private events in Kolkata | Book artists for weddings in Mumbai | Book artists for weddings in Delhi | Book artists for weddings in Chennai | Book artists for weddings in Bengaluru | Book artists for weddings in Hyderabad | Book artists for weddings in Pune | Book artists for weddings in Ahmedabad | Book artists for weddings in Kolkata</p>
           
        <p>Book events in Mumbai | Book events in Delhi | Book events in Chennai | Book events in Bengaluru | Book events in Hyderabad | Book events in Pune | Book events in Ahmedabad | Book events in Kolkata | Book music events in Mumbai | Book music events in Delhi | Book music events in Chennai | Book music events in Bengaluru | Book music events in Hyderabad | Book music events in Pune | Book music events in Ahmedabad | Book music events in Kolkata | Book comedy events in Mumbai | Book comedy events in Delhi | Book comedy events in Chennai | Book comedy events in Bengaluru | Book comedy events in Hyderabad | Book comedy events in Pune | Book comedy events in Ahmedabad | Book comedy events in Kolkata.</p>
        <p>Socio  is a celebrity booking platform that allows fans to book celebrity shoutouts in India, personalised video shoutouts, celebrity birthday wishes, personal messages from celebrities and much more. From Shafqat Amanat Ali's shoutouts to Shalmali Kholgade's personalised videos to Flora Saini's brand videos to Neeraj Shridhar's special birthday and anniversay wishes, celebrity cameo to influencer's shout outs we have got a one-stop solution - an artists's marketplace for all your personalised video messages.</p>
 
    </div>
    <div class="border1"></div> <!--for the underline -->
        <!--  for company name and description -->
      <div class="footer-items">
       
       <ul>
        <p>LiveBox</p>
           <li>Feeds</li>
           <li>Discover</li> 
           <li> StreamBox</li>  
          <li> Short UR</li>
       </ul>
      </div>
  
  <!--  for   About Uss  -->
      <div class="footer-items">
        
        
          <ul>

            <p>  About Us</p>
            <a href="#"><li> Contact Us</li></a>
            <a href="#"><li> 
                Team</li></a>
            <a href="#"><li> Career</li></a>
            <a href="#"><li> Blog</li></a>
          </ul>
      </div>
  
  <!--  for some other links -->
      <div class="footer-items">
       
       
          <ul>
            <p>Privacy Policy</p>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Customer Support</li></a>
            <a href="#"><li>  Franchise Program</li></a>
            <a href="#"><li> Refund Policy</li></a>
          </ul>
      </div>
  
  <!--  for contact us info -->
      <div class="footer-items">
       

          <ul>
            <p> Lemonade Goa 2018</p>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Lemonade Goa 2019</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>Lemonade Goa 2021</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>Annual Return</li>
          </ul> 
        
  <!--   for social links -->
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div> 
         
      </div>
      <div class="footer-items">
        <p> Get the app for your mobile device</p>
        
        <img src="https://1840729241.rsc.cdn77.org/assets/images/playstore-icon.png">
<img src="https://1840729241.rsc.cdn77.org/assets/images/appstore_icon.png" class="mt-2">
      </div>
 
      <div class="border1"></div>
    </div>
   
  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
        Copyright Socio (India) Pvt Ltd 2022. All rights reserved..
    </div>
  </div>
    